.header {
	display: flex;
}
.title {
	width: 100%;
}
.icon {
	padding-top: 27px;
	width: 25px;
}
.darkmode-switch {
	display: flex;
	width: 50px;
	padding-top: 20px;
	padding-right: 10px;
	text-align: right;
}
