.task-li {
	background-color: rgb(231, 231, 231);
	margin: 8px 0;
	padding: 15px 20px;
	display: flex;
	border-radius: 5px;
	justify-content: space-between;
	color: #282c34;
	align-items: center;
	text-shadow: #282c34;
}

.task-li:hover {
	background-color: rgba(231, 231, 231, 0.89);
}

.task-title {
	font-weight: bold;
	cursor: pointer;
}

.task-desc-title {
	margin-top: 30px;
	flex: auto;
	width: 100%;
	text-align: left;
	color: #eee;
	font-size: 14px;
}

.task-desc {
	margin: 30px auto;
	margin-top: -8px;
	overflow: auto;
	background-color: #282c34;
	border: 2px dashed #eeeeee;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 30px;
}

.buttons-container {
	font-size: 18px;
}
