.task-li {
    background-color: rgb(231, 231, 231);
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: rgb(11, 93, 160);
    align-items: center;
    cursor: pointer;
}
.task-li:hover {
    background-color: rgba(231, 231, 231, 0.89);
}

.task-title {
    font-weight: bold;
}